.my-grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.has-blue-background {
    background-color: #A7DDFF;
    border: 1px solid #721EE3;
}

.has-yellow-backgroud {
    background-color: #FAF7A7;
    border: 1px solid #E38C1E;
}
